<p>dashboard works!</p>
<ul>
    <li><a [routerLink]="'signal'">Signal</a></li>
    <li><a [routerLink]="'form'">Forms</a></li>
    <li><a [routerLink]="'input'">Input</a></li>
</ul>

<br>
<!-- <br>
<app-input [mensaje]="mensajeParaHijo" [mensajeSS]="mensajeSS" (cambioContador)="actualizarContador($event)" [valor]="valorPadre()"></app-input>
<br>
<button (click)="cambiarMensaje()">Cambiar Mensaje</button> -->
<br>
<button (click)="bntActualizarValor()">Actualizar valor</button>
<app-input [valor]="valorPadre()" (cambioValor)="onActualizar($event)"></app-input>
<br>
<p>Valor actualizdo del hijo: {{ mensajeRecibido }}</p>